
@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    function sendEmail() {
        var username = $("#userName").val();
        var data = {
            username: username
        };
        $.ajax({
            type: 'post',
            url: '@Url.Action("ForgetPassword", "User", new { area = "Member" })',
            //contentType: "application/json; charset=utf-8",
            data: data,
            success: function (result) {
                alert(result);
            }
        });
    }
</script>

    请输入用户名：<input type="text" id="userName" name="userName" />
    <button onclick="sendEmail()">确定</button>



