
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    function resetPassword(parameters) {
        var userId = $("#userId").val();
        var password = $("#password").val();
        var passwordConfirm = $("#passwordConfirm").val();
        if (password != passwordConfirm) {
            alert("两次输入不一致!");
            return;
        }
        var data = {
            userId: userId,
            password: password
        };
        $.ajax({
            type: 'post',
            url: '@Url.Action("ResetPassword", "User", new { area = "Member" })',
            //contentType: "application/json; charset=utf-8",
            data: data,
            success: function (result) {
                alert(result);
            }
        });
    }
</script>
<input type="text" id="userId" value="@ViewBag.userId" style="display: none"/>
请输入新密码：<input type="password" id="password"/>
确认密码：<input type="password" id="passwordConfirm" />
<button onclick="resetPassword()">确认</button>