@model IEnumerable<Mod.Models.Member.Menu>
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>菜单</h2>


    <ul>
        @foreach (var menu in Model)
        {
            <li>
                <a href="~/@menu.Url">@menu.Name</a>
                @if (menu.Children != null && menu.Children.Any())
                {
                    var secondMenus = menu.Children;
                    <ul>
                        @foreach (var secondMenu in secondMenus)
                        {
                            <li>
                                <a href="~/@secondMenu.Url">@secondMenu.Name</a>
                            </li>
                        }
                    </ul>
                }
            </li>
        }
    </ul>
